@model ToDoItemListViewModel
@{
    ViewData["Title"] = "All ToDos";
}

<div class="table-responsive">
    <table class="table table-striped todo">
        <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var toDo in Model.ToDoItemViewList)
            {
                string isCompleted = toDo.IsCompleted ? "Yes" : "No";
                <tr>
                    <td>@toDo.Description</td>
                    <td>@isCompleted</td>
                    <td><a asp-action="Edit" asp-route-id="@toDo.Id" class="btn btn-outline-primary">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@toDo.Id" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<form asp-controller="ToDo" asp-action="Index" method="post" class="form-horizontal">
    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int index = 0; index < Model.PageCount; index++)
            {
                <td>
                    @if (index != Model.CurrentPage)
                    {
                        <a href="javascript:PagerClick(@index);">@(index + 1)</a><pre>&nbsp;&nbsp;&nbsp;&nbsp;</pre>
                    }
                    else
                    {
                        <span>@(index + 1)</span><pre>&nbsp;&nbsp;&nbsp;&nbsp;</pre>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hiddenPageIndex" name="currentPageIndex" />
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hiddenPageIndex").value = index;
            document.forms[0].submit();
        }
    </script>
</form>