@page
@model IndexModel
@{
    ViewData["Title"] = "All ToDos";
    int pageNum = Model.CurrentPage + 1;
}

<div class="table-responsive">
    <table class="table table-striped todo">
        <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var toDo in Model.AllToDos)
            {
                string isCompleted = toDo.IsCompleted ? "Yes" : "No";
                <tr>
                    <td>@toDo.Description</td>
                    <td>@isCompleted</td>
                    <td><a asp-area="" asp-page="/Edit" asp-route-id="@toDo.Id" class="btn btn-outline-primary">Edit</a></td>
                    <td><a asp-area="" asp-page="/Delete" asp-route-id="@toDo.Id" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<form method="post" class="form-horizontal">
    <table cellpadding="0" cellspacing="0" class="col-md-6">
        <tr>
            <td>
                @if (Model.CurrentPage > 0)
                {
                    <a href=javascript:PreviousClick()>Previous</a>
                }
                else
                {
                    <span>Previous</span>
                }

            <td>Page Number: <strong>@pageNum</strong></td>
            <td>
                @if (Model.PageSize - Model.RecordCount > 0)
                {
                    <span>Next</span>
                }
                else
                {
                    <a href=javascript:NextClick()>Next</a>
                }
            </td>
        </tr>
    </table>
    <input type="hidden" asp-for="CurrentPage" />
    <input type="hidden" asp-for="RecordCount" />
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("CurrentPage").value = index;
            document.forms[0].submit();
        }
        function PreviousClick() {
            var currentPage = document.getElementById("CurrentPage").value;
            if (currentPage > 0) {
                currentPage--;
                document.getElementById("CurrentPage").value = currentPage;
                document.forms[0].submit();
            }
        }
        function NextClick() {
            var currentPage = document.getElementById("CurrentPage").value;
            currentPage++;
            document.getElementById("CurrentPage").value = currentPage;
            document.forms[0].submit();
        }
    </script>
</form>